<!DOCTYPE html>
<html>
<head>
  <title>IPM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables/js/jquery.dataTables.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">IPMonitor</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
        	<%= link_to 'Settings', "/brands" %>
        </li>
        <li>
        	<%= link_to 'Products', "/query/index" %>
        </li>
        <li>
       		<%= link_to 'Reports', "/analytics/index" %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div style="margin-top:60px">
  <%= yield %>
</div>
</body>
</html>
