<!DOCTYPE html>
<html>
<head>
  <title>IPM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap.min.js" %>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "dataTables/js/jquery.dataTables.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Settings', "/brands" %>
<%= link_to 'Query', "/query/index" %>
<%= link_to 'Analytics', "/analytics/index" %>
<%= yield %>

</body>
</html>
